.alertsDiv {
  position: absolute;
}
.cardContainer {
  margin-top: 10px;
  text-align: center;
}
.card:hover {
  transform: scale(1.1);
}
.fade {
  width: 100% !important;
  height: 100% !important;
}
.modal-backdrop.show {
  display: none;
}
/* .react-datepicker-popper {
  position: relative !important;
} */
.confirmBoxDiv {
  position: absolute;
}
.confirmBoxDiv2 {
  transform: translate(0px, 45px);
}
@media only screen and (max-width: 600px) {
  .confirmBoxDiv {
    left: 15%;
    right: 15%;
    top: 18%;
  }
  .alertsDiv {
    margin-left: 7%;
    margin-right: 7%;
  }
  .cardContainer {
    margin-top: 60px;
  }
  .gridContainer {
    display: grid;
    grid-auto-flow: column;
    overflow-x: auto;
    margin-inline-start: 26px;
    margin-inline-end: 26px;
  }
  .card {
    background-color: whitesmoke;
    margin-right: 26px;
    display: grid;
    border-radius: 5px;
  }
  .popperDiv {
    top: 80px !important;
    left: 24px !important;
  }
  .popperDiv2 {
    top: 12px !important;
    left: 24px !important;
  }
}
@media only screen and (min-width: 600px) {
  .confirmBoxDiv {
    left: 33%;
    right: 33%;
    top: 9%;
  }
  .confirmBoxDiv2 {
   max-width: 405px;
   transform: translate(35px, 45px);
  }
  .alertsDiv {
    margin-left: 35%;
    margin-right: 33%;
  }
  .gridContainer {
    display: grid;
    grid-template-columns: max-content max-content max-content;
    justify-content: space-evenly;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
  }
  .card {
    border-radius: 5px;
    background-color: whitesmoke;
    display: grid;
  }

}
