.mainContainer {
  transform: translate(0px, 122px);
}
.container {
  font-family: cursive;
  border-radius: 25px;
  width: 90%;
  background-color: whitesmoke;
  background-image: url("../../images/Logo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
 background-blend-mode: color-burn;
}
.logo {
  width: 100%;
  filter: grayscale(100%);
  opacity: 10%;
}
.error::-webkit-input-placeholder {
  color: red
}
:focus{outline: none;}
.effect-1 {border: 0;text-align: center; width: 100%;background-color: inherit;}
.effect-1 ~ .focus-border{position: absolute; bottom: 0; left: 0; width: 0; height: 2px; background-color: #3399FF; transition: 0.4s;}
.effect-1:focus ~ .focus-border{width: 100%; transition: 0.4s;}

@media only screen and (min-width: 600px) and (max-width: 845px) {
.mainContainer{
    width: 165vh
}
.container{
    width: 60%;
}
}
@media only screen and  (min-width: 845px) {
    .container{
       width: 35%;
    }
    }
